@charset "UTF-8";

#login-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) translate(0, 40px);
	border: 20px solid #056DAC;
	border-radius: 40px;
	text-align: center;
	padding: 20px 100px;
	background-color: #BFBFBF;
}

input {
	padding: 10px 15px;
	margin-bottom: 15px;
	width: 350px;
	text-align: center;
	border: 2px solid #056dac;
	border-radius: 20px;
	outline: none;
}

input:focus {
	border: 2px solid green;
	font-weight: 600;
}

input[type=submit],
button[type=submit] {/**/
	padding: 10px 20px;
	border-color: transparent;
	background-color: #056DAC;
	color: white;
	font-size: 16px;
	letter-spacing: 1px;
	border-radius: 30px;
	margin-bottom: 15px;
	outline: none;
}

.login-link {
	display: block;
	text-decoration: none;
	font-weight: 600;
	color: #d60d0d;
	margin-top: 5px;
}

.checkbox{
	display: inline-block;
	width: 370px;
	font-size: 14px;
	text-align: left;
	margin-bottom: 15px;
}