{% extends "baseadmin.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block links %}
<link rel="stylesheet" type="text/css" href="/static/global.css">
<link rel="stylesheet" type="text/css" href="/static/admin.css">
{% endblock %}
{% block content %}

<div id="rest">
    <h1 style="margin-left: 20px;">Lista parkingów</h1>
    <div class="inside">
        <div class="searcher">
            <div style="display: inline-block;">
                <form action="#" method="post">
                    <input type="hidden" name="from" value="/aktualnylink/zeby/potem/cofac - uzyj w przycisku cofania">
                    <input type="text" name="query" class="query-input" placeholder="Słowo klucz">
                </form>
            </div>
            <div style="display: inline-block;">
                <a href="{{ url_for('admin.admin_create_parking_panel') }}">
                    <button class="button-add">Dodaj Parking
                    </button>

                </a>
            </div>
        </div>
        <table id="parkinglist">
            <thead>
            <tr>
                <th>ID</th>
                <th>Adres</th>
                <th>Właściciel</th>
                <th>Miejsca</th>
                <th>Nazwa</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>Ostrów Wlkp.</td>
                <td>Patryk</td>
                <td>342</td>
                <td>Innowacyjny parking przy lidlu</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Ostrów Wlkp.</td>
                <td>Konstantynopolańczykówniczówna</td>
                <td>21 121</td>
                <td>Jeszcze bardziej innowacyjny parking przy lidlu i kauflandzie i biedronce i przy innych
                    zagranicznych kapitałach lepszy od wszystkich z bardzo i holernie długą nazwą
                </td>
            </tr>
            <tr>
                <td>3</td>
                <td>Ostrów Wlkp.</td>
                <td>Patryk</td>
                <td>342</td>
                <td>Innowacyjny parking przy lidlu</td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
</div>

<div class="bottombar">
    <div class="bottom-col">
        <div style="position: relative;">
            <img alt="LOGO" src="/static/logo.png"
                 style="display: block; height: 150px; position: absolute; right: 0; bottom: 0; padding: 10px; transform: translate(50%, 0);">
        </div>
    </div>
    <div class="bottom-col">
        <span class="bottom-title">Szybkie linki</span>
        <a href="#" class="def-link">Strona główna</a>
        <a href="#" class="def-link">Moje konto</a>
        <a href="#" class="def-link">Regulamin</a>
        <a href="#" class="def-link">Regulamin</a>
        <a href="#" class="def-link">Regulamin</a>
        <a href="#" class="def-link">Regulamin</a>
    </div>
    <div class="bottom-col">
        <span class="bottom-title">Polityka prywatności</span>
        <a href="#" class="def-link">Polityka google</a>
        <a href="#" class="def-link">Coś jeszcze</a>
        <a href="#" class="def-link">RODO</a>
        <a href="#" class="def-link">Co to pliki cookie?</a>
        <a href="#" class="def-link">Wikipedia</a>
        <a href="#" class="def-link">Marcin Najman</a>
    </div>
    <div class="bottom-col">
        <span class="bottom-title">Regulamin serwisu</span>
        <a href="#" class="def-link">Regulamin w .pdf</a>
        <a href="#" class="def-link">Regulamin (odnośnik)</a>
        <a href="#" class="def-link">Regulamin (do druku)</a>
        <span class="bottom-title">Inne pliki</span>
        <a href="#" class="def-link">Załącznik nr 1</a>
        <a href="#" class="def-link">Załącznik nr 2</a>
    </div>
    <div>
        <span style="color: gray; letter-spacing: 1.5px;">&copy; Copyright 2020-2021 Zautomatyzowane parkingi</span>
        <br>
        <span style="color: gray; letter-spacing: 1.5px;">Wykonane przez <a href="naszasuperfirma" class="def-link">Kalak &amp; Kryjom &amp; Migaj</a></span>
    </div>
</div>
</div>
<script type="text/javascript" src="/static/global.js"></script>
<script type="text/javascript" src="/static/admin.js"></script>
<script type="text/javascript" src="/static/debug.js"></script>
{% endblock %}